@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import "tailwindcss";

@theme {
	--font-pixel: "Jersey 10", sans-serif;
	--font-jacquard: "Jacquard 12", system-ui,
}

@keyframes flicker {
	0%, 100% { opacity: 1; }
	5% { opacity: 0.8; }
	10% { opacity: 1; }
	15% { opacity: 0.9; }
	20% { opacity: 1; }
	25% { opacity: 0.85; }
	30% { opacity: 1; }
	50% { opacity: 0.95; }
	55% { opacity: 0.8; }
	60% { opacity: 1; }
	75% { opacity: 0.9; }
	80% { opacity: 1; }
}
